/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Info Cards */

.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

.dashboard .info-duga h6 {
  font-size: 28px;
  color: #4154f1;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.dashboard .info-curah h6 {
  font-size: 28px;
  color: #2eca6a;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.dashboard .info-klimatologi h6 {
  font-size: 28px;
  color: #db1514;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.dashboard .info-total h6 {
  font-size: 28px;
  color: #f59517;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#offpos {
  padding: 10px;
}

#onpos {
  padding: 10px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.card .btn-secondary {
  width: 180px;
}

.card .d-grid {
  padding: 25px;
}
