@{
    ViewData["Title"] = "Tabel Monitoring";
  @*  var org = new List<string>() { "","ORG001", "ORG002", "ORG003","ORG004","ORG005",
                "ORG006","ORG007","ORG008","ORG009","ORG010",
                "ORG011","ORG012","ORG013","ORG014","ORG015",
                "ORG016","ORG017","ORG018","ORG019","ORG020",
                "ORG021","ORG022","ORG023","ORG024","ORG025",
                "ORG026","ORG027","ORG028","ORG029","ORG030",
                "ORG031","ORG032","ORG033","ORG034","ORG035",
                "ORG036","ORG037","ORG038","ORG039","ORG040",
                "ORG041","ORG042","ORG043","ORG044","ORG045",
                "ORG046","ORG047","ORG048","ORG049",};*@
}

@model IEnumerable<Api>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Tabel Monitoring</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Api" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Tabel Monitoring</li>
            </ol>
        </nav>
    </div>

    @* <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col">
                    <h6>Nama Balai :</h6>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pos Balai
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <h6>Tipe Pos :</h6>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tipe Pos
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <h6>Status :</h6>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            Status
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                            <li><a class="dropdown-item" href="#">Menu item</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success me-md-2" type="button">Submit</button>
                        <button class="btn btn-danger" type="button">Reset</button>
                    </div>
                </div>

            </div>
        </div>
    </div> *@

    @* <div class="row mb-3">
        <div class="col-6">
            <select name="orgCode" id="orgCode" class="form-select">
                @foreach(var o in org){
                    <option value="@o">@o</option>
                }
            </select>
        </div>
        <div class="col-6">
            <button onclick="getStationByOrgCode()" class="btn btn-primary">Get All </button>
        </div>
    </div> *@
    <div class="col">
        <h6>Status :</h6>
        <div class="col-6">
            <select id="statusFilter" class="form-select">
                <option value="all">Semua</option>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select>
        </div>
    </div>
    
    <br>

    <div class="card mb-3">
        <div class="card-header" style="background: #db1514;">
            <h4 class="card-title mb-0 text-white"><i class="fa fa-water me-1"></i>OFFLINE</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="offpos" class="display table table-sm table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th class="text-center">Organisasi</th>
                            <th class="text-center">Nama Pos</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Tipe</th> 
                            <th class="text-center">Reading At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Your data rows go here -->
                    </tbody>
                </table>
            </div>
            <div id="lastUpdateTime" style="margin-top: 10px; color: gray;"></div>
        </div>
    </div>
</main>

@section Scripts {
    <!-- Include jQuery and Moment.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Include DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var fetchData = function(organizationCode) {
                return $.ajax({
                    url: '/Api/GetStationByOrgCode?orgCode=' + organizationCode,
                    method: 'GET',
                    dataType: 'json'
                });
            };

            const urlParams = new URLSearchParams(window.location.search);
            const orgParam = urlParams.get('orgCode');
            console.log(orgParam);

            fetchData(orgParam).done(function(response) {
                var result = JSON.parse(response);
                const data = result.data;
             // Menampilkan nama balai dari data yang dipilih
        var balaiName = data.length > 0 ? data[0].balaiName : ""; // Ambil dari data pertama
        $("h1").text(balaiName);

                var body = $("#offpos tbody");
                body.empty();
                let i = 1;
                $.each(data, function(index, item) {
                    var row = $("<tr>");

                    row.append($("<td>").text(i++));
                    row.append($("<td>").text(item.organizationCode));
                    row.append($("<td>").text(item.slug));
                    
                    // Define color and text position based on device status
                    var statusText = $("<td>").text(item.deviceStatus);
                    if (item.deviceStatus === 'offline') {
                        statusText.css({
                            'color': 'red',
                            'text-align': 'center'
                        });
                    } else {
                        statusText.css({
                            'color': 'green',
                            'text-align': 'center'
                        });
                    }
                    row.append(statusText);
                     row.append($("<td>").text(item.stationType));
                   // Format lastReadingAt using Moment.js
                    var formattedDate = item.lastReadingAt ? moment(item.lastReadingAt).format("DD-MM-YYYY") : ''; // Jika tanggal tidak ada, kosongkan
                    row.append($("<td>").text(formattedDate));

                    body.append(row);
                });
            }).fail(function(xhr, status, error) {
                console.error('Request failed with status:', status);
            });

            // Function to refresh DataTable and update last update time
         @*  function refreshDataTable() {
                $('#offpos').DataTable().ajax.reload(null, false);
                updateLastUpdateTime();
            }

            // Function to update last update time
            function updateLastUpdateTime() {
                var now = new Date();
                var formattedTime = moment(now).format("DD-MM-YYYY HH:mm:ss");

                // Get the last update time from the Ajax response
                $.ajax({
                    url: '/Api/GetLastUpdateTime', // Replace with the appropriate URL
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        var lastUpdateTimeString = response.lastUpdateTime; // Replace with the correct property name
                        if (lastUpdateTimeString) {
                            var lastUpdateTime = moment(lastUpdateTimeString);
                            formattedTime = lastUpdateTime.format("DD-MM-YYYY HH:mm:ss");
                        }

                        // Use the correct ID here
                        $('#lastUpdateTime').text('Last Updated : ' + formattedTime);
                    },
                    error: function (error) {
                        console.error('Error getting last update time:', error);
                    }
                });
            }

            // Set up auto-refresh using setInterval
            var autoRefreshInterval = setInterval(function () {
                refreshDataTable();
            }, 300000); // 5 minutes in milliseconds

            // Stop auto-refresh when the page is unloaded
            $(window).on('beforeunload', function () {
                clearInterval(autoRefreshInterval);
            });

            // Initial update of last update time
            updateLastUpdateTime();*@ 

           // Function to filter data by device status (online or offline)
    function filterDataByStatus(status) {
        var rows = $("#offpos tbody tr");
        rows.show(); // Show all rows initially

        var visibleRows = rows.filter(function() {
            var statusCell = $(this).find("td:eq(3)"); // Get the cell containing device status
            var deviceStatus = statusCell.text().toLowerCase();
            return status === 'all' || deviceStatus === status;
        });

        // Hide rows that don't match the selected status
        rows.not(visibleRows).hide();

        // Reset numbering for visible rows
        visibleRows.each(function(index) {
            $(this).find("td:eq(0)").text(index + 1);
        });

        // Update card color and text based on filter status
        var cardHeader = $(".card-header");
        var cardTitle = $(".card-title");

        if (status === 'online') {
            cardHeader.css('background', '#28a745');
            cardTitle.text('ONLINE').removeClass('text-white').addClass('text-white');
        } else if (status === 'offline') {
            cardHeader.css('background', '#dc3545');
            cardTitle.text('OFFLINE').removeClass('text-white').addClass('text-white');
        } else {
            cardHeader.css('background', '#007bff');
            cardTitle.text('SEMUA').removeClass('text-white').addClass('text-white');
        }
    }

    // Event handler for filter dropdown change
    $("#statusFilter").change(function() {
        var selectedStatus = $(this).val();
        filterDataByStatus(selectedStatus);
    });

    // Initial filter based on default selected status
    var defaultStatus = $("#statusFilter").val();
    filterDataByStatus(defaultStatus);
});
        function getStationByOrgCode() {
            var orgCode = document.getElementById("orgCode").value;
            $.ajax({
                url: '/Api/GetStationByOrgCode?orgCode=' + orgCode,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    var result = JSON.parse(response);
                    const data = result.data;

                    var tableBody = $("#offpos tbody");
                    tableBody.empty();
                    let i = 1;
                    $.each(data, function (index, item) {
                        var row = $("<tr>");

                        row.append($("<td>").text(i++));
                        row.append($("<td>").text(item.organizationCode));
                        row.append($("<td>").text(item.slug));
                        row.append($("<td>").text(item.deviceStatus));
                        row.append($("<td>").text(item.stationType));
                        row.append($("<td>").text(item.lastReadingAt));

                        tableBody.append(row);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Request failed with status:', status);
                }
            });
        }
    </script>
}