@{
    ViewData["Title"] = "Home | Dashboard";
}

@model IEnumerable<Api>


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Api" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="counter blue">
                        <span id="totalDugaAir" class="counter-value"></span>
                        <h3>Pos Duga Air</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="counter green">
                        <span id="totalCurahHujan" class="counter-value"></span>
                        <h3>Pos Curah Hujan</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="counter red">
                        <span id="totalKlimatologi" class="counter-value"></span>
                        <h3>Pos Klimatologi</h3>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="/Api/TotalOnline" style="text-decoration: none;">
                        <div class="counter green">
                            <span id="totalOnline" class="counter-value"></span>
                            <h3>Total Online</h3>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="/Api/TotalOffline" style="text-decoration: none;">
                        <div class="counter red">
                            <span id="totalOffline" class="counter-value"></span>
                            <h3>Total Offline</h3>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="/Api/TotalPos" style="text-decoration: none;">
                        <div class="counter orange">
                            <span id="totalPos" class="counter-value"></span>
                            <h3>Total Pos</h3>
                        </div>
                    </a>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="counter cyan">
                        <span id="totalInstansi" class="counter-value"></span>
                        <h3>Total Instansi</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>

    <div class="card mb-3">
        <div class="card-header" style="background: #a3c2e0;">
            <h4 class="card-title mb-0 text-white text-center"><i class="fa fa-water me-1"></i>SEBARAN TELEMETRI</h4>
        </div>
        <div class="card-body">
            <div id="maps" style="width: 100%; height: 65vh; margin: 0 auto;"></div>
        </div>
    </div>

    <br>

    <div class="card mb-3">
        <div class="card-header" style="background: #a3c2e0;">
            <h4 class="card-title mb-0 text-white"><i class="fa fa-water me-1"></i>SUMMARY</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="offpos" class="display table table-sm table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th class="text-center">Nama Instansi</th>
                            <th class="text-center">Instansi</th>
                            <th class="text-center">Pos Online</th>
                            <th class="text-center">Pos Offline</th>
                            <th class="text-center">Total Pos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Your data rows go here -->
                    </tbody>
                </table>
            </div>
            <div id="lastUpdateTime" style="margin-top: 10px; color: gray;"></div>
        </div>
    </div>
</main>

@section Scripts {
    <!-- Include jQuery and Moment.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Include DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Fungsi untuk memperbarui jumlah pos
            function updateTotals() {
                // Panggil endpoint untuk total duga air
                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalDugaAir' },
                    success: function(response) {
                        $('#totalDugaAir').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalDugaAir').text('Error');
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalCurahHujan' },
                    success: function(response) {
                        $('#totalCurahHujan').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalCurahHujan').text('Error');
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalKlimatologi' },
                    success: function(response) {
                        $('#totalKlimatologi').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalKlimatologi').text('Error');
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalOnline' },
                    success: function(response) {
                        $('#totalOnline').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalOnline').text('Error');
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalOffline' },
                    success: function(response) {
                        $('#totalOffline').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalOffline').text('Error');
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalPos' }, // Parameter untuk total pos
                    success: function(response) {
                        $('#totalPos').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalPos').text('Error');
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalData',
                    type: 'POST',
                    data: { totalType: 'totalInstansi' },
                    success: function(response) {
                        $('#totalInstansi').text(response.total);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        $('#totalInstansi').text('Error');
                    }
                });
                // Lanjutkan dengan pemanggilan untuk total lainnya...
            }

            // Panggil fungsi untuk memperbarui jumlah total saat halaman dimuat
            updateTotals();

            // Function to refresh DataTable and update last update time
            function refreshDataTable() {
                $('#offpos').DataTable().ajax.reload(null, false);
                updateLastUpdateTime();
            }

            // Function to update last update time
            function updateLastUpdateTime() {
                var now = new Date();
                var formattedTime = moment(now).format("DD-MM-YYYY HH:mm:ss");

                // Get the last update time from the Ajax response
                $.ajax({
                    url: '/Api/GetLastUpdateTime', // Replace with the appropriate URL
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        var lastUpdateTimeString = response.lastUpdateTime; // Replace with the correct property name
                        if (lastUpdateTimeString) {
                            var lastUpdateTime = moment(lastUpdateTimeString);
                            formattedTime = lastUpdateTime.format("DD-MM-YYYY HH:mm:ss");
                        }

                        // Use the correct ID here
                        $('#lastUpdateTime').text('Last Updated : ' + formattedTime);
                    },
                    error: function (error) {
                        console.error('Error getting last update time:', error);
                    }
                });
            }

            // Initialize DataTable
            var dataTable = $('#offpos').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "info": true,
                "infoCallback": function (settings, start, end, max, total, pre) {
                    return "Showing " + (start) + " to " + end + " of " + total + " entries";
                },
                "ajax": {
                    "url": "/Api/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nomor", "name": "Nomor", "autoWidth": true, "className": "text-center" },
                    { "data": "subDomainOld", "name": "subDomainOld", "autoWidth": true },
                    {
                        "data": "subDomain",
                        "render": function (data, type, row) {
                            return '<a href="https://' + row.subDomainOld + '.higertech.com" target="_blank" style="text-decoration: none;">' + row.subDomainOld + '</a>';
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center"
                    },
                    { "data": "jumlahPosOnline", "name": "JumlahPosOnline", "autoWidth": true, "className": "text-center" },
                   {
                        "data": "jumlahPosOffline",
                        "render": function (data, type, row) {
                            return '<a href="/Api/JsonDetail?orgCode=' + row.organizationCode + '" style="text-decoration: none;">' + data + '</a>';
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center"
                    },
                    {
                        "data": "jumlahPos",
                        "render": function (data, type, row) {
                            return '<a href="/Api/Detail?orgCode=' + row.organizationCode + '" style="text-decoration: none;">' + data + '</a>';
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center"
                    }
                ]
            });

            // Set up auto-refresh using setInterval
            var autoRefreshInterval = setInterval(function () {
                refreshDataTable();
            }, 300000); // 5 minutes in milliseconds

            // Stop auto-refresh when the page is unloaded
            $(window).on('beforeunload', function () {
                clearInterval(autoRefreshInterval);
            });

            // Initial update of last update time
            updateLastUpdateTime();
        });
    </script>
}
