@{
    ViewData["Title"] = "Home | Dashboard";
}

@model IEnumerable<Api>


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Api" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="counter blue">
                        <span id="totalDugaAir" class="counter-value"></span>
                        <h3>Pos Duga Air</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="counter green">
                        <span id="totalCurahHujan" class="counter-value"></span>
                        <h3>Pos Curah Hujan</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="counter red">
                        <span id="totalKlimatologi" class="counter-value"></span>
                        <h3>Pos Klimatologi</h3>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter green">
                        <span id="totalOnline" class="counter-value"></span>
                        <h3>Total Pos Online</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="counter red">
                        <span id="totalOffline" class="counter-value"></span>
                        <h3>Total Pos Offline</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="counter orange">
                        <span id="totalPos" class="counter-value"></span>
                        <h3>Total Pos</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="counter cyan">
                        <span id="totalInstansi" class="counter-value"></span>
                        <h3>Total Instansi</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @* <section class="section dashboard">
        <div class="row">
            <!-- Kartu Sebelah Kiri -->
            <div class="col-md-4">
                <!-- Duga Air Card -->
                <div class="card info-duga">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pos Duga Air</h5>
                        <div class="text-center">
                            <h6 id="totalDugaAir"></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Curah Hujan Card -->
                <div class="card info-curah">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pos Curah Hujan</h5>
                        <div class="text-center">
                            <h6 id="totalCurahHujan"></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kartu Sebelah Kanan -->
            <div class="col-md-4">
                <!-- Klimatologi Card -->
                <div class="card info-klimatologi">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pos Klimatologi</h5>
                        <div class="text-center">
                            <h6 id="totalKlimatologi"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <!-- Kartu Sebelah Kiri -->
            <div class="col-md-3">
                <!-- Total Pos Online Card -->
                <div class="card info-online">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Pos Online</h5>
                        <div class="text-center">
                            <h6 id="totalOnline"></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <!-- Total Pos Offline Card -->
                <div class="card info-offline">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Pos Offline</h5>
                        <div class="text-center">
                            <h6 id="totalOffline"></h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kartu Sebelah Kanan -->
            <div class="col-md-3">
                <!-- Total Pos Card -->
                <div class="card info-total">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Pos</h5>
                        <div class="text-center">
                            <h6 id="totalPos"></h6>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Kartu Sebelah Kanan -->
            <div class="col-md-3">
                <!-- Total Instansi Card -->
                <div class="card info-instansi">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Instansi</h5>
                        <div class="text-center">
                            <h6 id="totalInstansi"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@

    <br>

    <div class="card mb-3">
        <div class="card-header" style="background: #a3c2e0;">
            <h4 class="card-title mb-0 text-white text-center"><i class="fa fa-water me-1"></i>PETA INDONESIA</h4>
        </div>
        <div class="card-body">
            <div id="maps" style="width: 100%; height: 65vh; margin: 0 auto;"></div>
        </div>
    </div>

    <br>

    <div class="card mb-3">
        <div class="card-header" style="background: #a3c2e0;">
            <h4 class="card-title mb-0 text-white"><i class="fa fa-water me-1"></i>SUMMARY</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="offpos" class="display table table-sm table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th class="text-center">Nama Instansi</th>
                            <th class="text-center">Instansi</th>
                            <th class="text-center">Pos Online</th>
                            <th class="text-center">Pos Offline</th>
                            <th class="text-center">Total Pos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Your data rows go here -->
                    </tbody>
                </table>
            </div>
            <div id="lastUpdateTime" style="margin-top: 10px; color: gray;"></div>
        </div>
    </div>
</main>

@section Scripts {
    <!-- Include jQuery and Moment.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Include DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Fungsi untuk memperbarui jumlah pos
            function updateTotalPos() {
                $.ajax({
                    url: '/Api/GetTotalPos',
                    type: 'POST',
                    success: function(response) {
                        // Update jumlah pos di dalam elemen HTML
                        $('#totalPos').text(response.totalPos);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                    }
                });

                $.ajax({
                    url: '/Api/GetTotalDugaAir',
                    type: 'POST',
                    success: function(response) {
                        // Tampilkan jumlah pos duga air
                        $('#totalDugaAir').text(response.totalDugaAir);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                        $('#totalDugaAir').text('Error');
                    }
                });
                $.ajax({
                    url: '/Api/GetTotalCurahHujan',
                    type: 'POST',
                    success: function(response) {
                        // Tampilkan jumlah pos duga air
                        $('#totalCurahHujan').text(response.totalCurahHujan);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                        $('#totalCurahHujan').text('Error');
                    }
                });
                $.ajax({
                    url: '/Api/GetTotalKlimatologi',
                    type: 'POST',
                    success: function(response) {
                        // Tampilkan jumlah pos duga air
                        $('#totalKlimatologi').text(response.totalKlimatologi);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                        $('#totalKlimatologi').text('Error');
                    }
                });
                 $.ajax({
                    url: '/Api/GetTotalOnline',
                    type: 'POST',
                    success: function(response) {
                        // Tampilkan jumlah pos duga air
                        $('#totalOnline').text(response.totalOnline);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                        $('#totalOnline').text('Error');
                    }
                });
                 $.ajax({
                    url: '/Api/GetTotalOffline',
                    type: 'POST',
                    success: function(response) {
                        // Tampilkan jumlah pos duga air
                        $('#totalOffline').text(response.totalOffline);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                        $('#totalOffline').text('Error');
                    }
                });
                 $.ajax({
                    url: '/Api/GetTotalInstansi',
                    type: 'POST',
                    success: function(response) {
                        // Tampilkan jumlah pos duga air
                        $('#totalInstansi').text(response.totalInstansi);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        // Handle error jika diperlukan
                        $('#totalInstansi').text('Error');
                    }
                });
                }

                // Panggil fungsi untuk memperbarui jumlah pos saat halaman dimuat
                updateTotalPos();

            // Function to refresh DataTable and update last update time
            function refreshDataTable() {
                $('#offpos').DataTable().ajax.reload(null, false);
                updateLastUpdateTime();
            }

            // Function to update last update time
            function updateLastUpdateTime() {
                var now = new Date();
                var formattedTime = moment(now).format("DD-MM-YYYY HH:mm:ss");

                // Get the last update time from the Ajax response
                $.ajax({
                    url: '/Api/GetLastUpdateTime', // Replace with the appropriate URL
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        var lastUpdateTimeString = response.lastUpdateTime; // Replace with the correct property name
                        if (lastUpdateTimeString) {
                            var lastUpdateTime = moment(lastUpdateTimeString);
                            formattedTime = lastUpdateTime.format("DD-MM-YYYY HH:mm:ss");
                        }

                        // Use the correct ID here
                        $('#lastUpdateTime').text('Last Updated : ' + formattedTime);
                    },
                    error: function (error) {
                        console.error('Error getting last update time:', error);
                    }
                });
            }

            // Initialize DataTable
            var dataTable = $('#offpos').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "info": true,
                "infoCallback": function (settings, start, end, max, total, pre) {
                    return "Showing " + (start) + " to " + end + " of " + total + " entries";
                },
                "ajax": {
                    "url": "/Api/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nomor", "name": "Nomor", "autoWidth": true, "className": "text-center" },
                    { "data": "balaiName", "name": "BalaiName", "autoWidth": true },
                    {
                        "data": "name",
                        "render": function (data, type, row) {
                            if (row.subDomain !== null) {
                                return '<a href="https://' + row.subDomain + '.higertech.com" target="_blank" style="text-decoration: none;">' + row.name + '</a>';
                            } else {
                                return '';
                            }
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center"
                    },
                    { "data": "jumlahPosOnline", "name": "JumlahPosOnline", "autoWidth": true, "className": "text-center" },
                    { "data": "jumlahPosOffline", "name": "JumlahPosOffline", "autoWidth": true, "className": "text-center" },
                    {
                        "data": "jumlahPos",
                        "render": function (data, type, row) {
                            return '<a href="/Api/Detail/' + row.balaiName + '" style="text-decoration: none;">' + data + '</a>';
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center"
                    }
                ]
            });

            // Set up auto-refresh using setInterval
            var autoRefreshInterval = setInterval(function () {
                refreshDataTable();
            }, 300000); // 5 minutes in milliseconds

            // Stop auto-refresh when the page is unloaded
            $(window).on('beforeunload', function () {
                clearInterval(autoRefreshInterval);
            });

            // Initial update of last update time
            updateLastUpdateTime();
        });
    </script>

    @* <script>
        $(document).ready(function(){
            $('.counter-value').each(function(){
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                },{
                    duration: 3500,
                    easing: 'swing',
                    step: function(now){
                        $(this).text(Math.ceil(now));
                    }
                });
            });
        });
    </script>  *@
}
