@{
    Layout = null; // Mengatur layout menjadi null agar tidak ada layout yang diaplikasikan pada halaman ini
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Favicons -->
        <link href="~/assets/img/hgt.png" rel="icon">
        <link href="~/assets/img/hgt.png" rel="apple-touch-icon">
        <title>Details</title>
    </head>
    <body>
        <input type="text" id="phoneNumber" placeholder="Masukkan Nomor WA">
        <button id="sendButton">Kirim Pesan</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/assets/js/detail.js"></script>

    </body>
</html>