@{
    ViewData["Title"] = "Tabel Monitoring";
    @* var org = new List<string>() { "","ORG001", "ORG002", "ORG003","ORG004","ORG005",
                "ORG006","ORG007","ORG008","ORG009","ORG010",
                "ORG011","ORG012","ORG013","ORG014","ORG015",
                "ORG016","ORG017","ORG018","ORG019","ORG020",
                "ORG021","ORG022","ORG023","ORG024","ORG025",
                "ORG026","ORG027","ORG028","ORG029","ORG030",
                "ORG031","ORG032","ORG033","ORG034","ORG035",
                "ORG036","ORG037","ORG038","ORG039","ORG040",
                "ORG041","ORG042","ORG043","ORG044","ORG045",
                "ORG046","ORG047","ORG048","ORG049",}; *@
}

@model IEnumerable<Api>

<main id="main" class="main">
    <div class="pagetitle">
        <h1></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Api" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Tabel Monitoring</li>
            </ol>
        </nav>
    </div>

    <!-- Filter Detail -->
    <div class="card">
        <div class="card-body">
            <div class="row gx-3">
                @* <div class="col-md-4 mb-3 mb-md-0">
                    <h6 class="mb-3">Nama Balai :</h6>
                    <div class="col">
                        <select id="orgCode" class="form-select text-dark">
                            @foreach(var o in org){
                                <option value="@o">@o</option>
                            }
                        </select>
                    </div>
                </div> 

                <div class="col-md-4 mb-3 mb-md-0">
                    <h6 class="mb-3">Tipe Pos :</h6>
                    <div class="col">
                        <select id="tipeFilter" class="form-select text-dark mb-3">
                            <option value="semua">SEMUA</option>
                            <option value="AWLR">AWLR</option>
                            <option value="ARR">ARR</option>
                            <option value="AWS">AWS</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6 class="mb-3">Status :</h6>
                    <div class="col">
                        <select id="statusFilter" class="form-select text-dark">
                            <option value="all">SEMUA</option>
                            <option value="online">ONLINE</option>
                            <option value="offline">OFFLINE</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <br>

    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title mb-0 text-white"><i class="fa fa-water me-1"></i></h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="offpos" class="display table table-sm table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th class="text-center">Nama Pos</th>
                            <th class="text-center">Device ID</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Tipe</th>
                            <th class="text-center">Reading At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Your data rows go here -->
                    </tbody>
                </table>
            </div>
            <div id="lastUpdateTime" style="margin-top: 10px; color: gray;"></div>
        </div>
    </div>
</main>

@section Scripts {
    <!-- Include jQuery and Moment.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Include DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var fetchData = function(orgParam) {
                return $.ajax({
                    url: '/Api/GetStationAll',
                    method: 'GET',
                    dataType: 'json',
                    data: { orgCode: orgParam } // Kirim parameter orgCode jika diperlukan
                });
            };

            const urlParams = new URLSearchParams(window.location.search);
            const orgParam = urlParams.get('orgCode');
            console.log(orgParam);

            fetchData(orgParam).done(function(response) {
                var result = JSON.parse(response);
                const data = result.data;

             $("h1").text("Total Pos Offline");

                var body = $("#offpos tbody");
                body.empty();
                let i = 1;
                $.each(data, function(index, item) {
                    // Hanya tampilkan data dengan deviceStatus online
                    if (item.deviceStatus === 'offline') {
                        var row = $("<tr>");

                        row.append($("<td class='text-center'>").text(i++));
                        row.append($("<td>").text(item.slug));
                        row.append($("<td class='text-center'>").text(item.deviceId));
                        // Define color and text position based on device status
                        var statusText = $("<td>").text(item.deviceStatus);
                        statusText.css({
                            'color': 'red',
                            'text-align': 'center'
                        });
                        row.append(statusText);
                        row.append($("<td class='text-center'>").text(item.stationType));
                        // Format lastReadingAt using Moment.js
                        var formattedDate = item.lastReadingAt ? moment(item.lastReadingAt).format("DD-MM-YYYY HH:mm") : ''; // Jika tanggal tidak ada, kosongkan
                        row.append($("<td class='text-center'>").text(formattedDate));

                        body.append(row);
                    }
                });
                // Inisialisasi DataTables dengan paging
                $('#offpos').DataTable({
                    "paging": true
                });

                // Update card color and text based on filter status
                var cardHeader = $(".card-header");
                var cardTitle = $(".card-title");
                var status = urlParams.get('statusFilter');

                if (status === 'online') {
                    cardHeader.css('background', '#28a745');
                    cardTitle.text('ONLINE').removeClass('text-white').addClass('text-white');
                } else if (status === 'offline') {
                    cardHeader.css('background', '#dc3545');
                    cardTitle.text('OFFLINE').removeClass('text-white').addClass('text-white');
                } else {
                    cardHeader.css('background', '#dc3545');
                    cardTitle.text('OFFLINE').removeClass('text-white').addClass('text-white');
                }
            }).fail(function(xhr, status, error) {
                console.error('Request failed with status:', status);
            });
        });
    </script>
}