@{
    ViewData["Title"] = "Home | Dashboard";
}

@section styles {
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 800px; /* Adjust the height as needed */
            width: 100%; /* The width is the full width of the web page */
        }
    </style>
}

<div id="map"></div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4jqcen5Xqrgck4V73aL6VepyKp2_wK1U&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var initialLocation = {lat: -34.397, lng: 150.644};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: initialLocation
            });
            
            var marker = new google.maps.Marker({
                position: initialLocation,
                map: map
            });
        }
    </script>
}

@* @section additionalScripts {
    
} *@